<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
	  <meta name="viewport"
	        content="width=device-width, initial-scale=1">
	  <meta name="format-detection" content="telephone=no">
	  <meta name="renderer" content="webkit">
	  <meta http-equiv="Cache-Control" content="no-siteapp"/>
	  <!-- Set render engine for 360 browser -->
	  <meta name="renderer" content="webkit">
	
	  <link rel="icon" type="image/png" href="img/icon.png">
	
	  <!-- Add to homescreen for Chrome on Android -->
	  <meta name="mobile-web-app-capable" content="yes">
	  <link rel="icon" sizes="192x192" href="img/icon@2x.png">
	
	  <!-- Add to homescreen for Safari on iOS -->
	  <meta name="apple-mobile-web-app-capable" content="yes">
	  <meta name="apple-mobile-web-app-status-bar-style" content="black">
	  <meta name="apple-mobile-web-app-title" content="Online Submit"/>
	  <link rel="apple-touch-icon-precomposed" href="img/icon60@2x.png">
	  <link href="img/icon60@2x.png" rel="apple-touch-icon" sizes="120x120">
	  <link href="img/icon72@2x.png" rel="apple-touch-icon" sizes="114x114">
	  <link href="img/icon60@3x.png" rel="apple-touch-icon" sizes="180x180">
	
	  <!-- Tile icon for Win8 (144x144 + tile color) -->
	  <meta name="msapplication-TileImage" content="img/icon72@2x/png">
	  <meta name="msapplication-TileColor" content="#0e90d2">
	  <link rel="stylesheet" href="assets/css/amazeui.min.css"/>
  		<link rel="stylesheet" href="assets/css/app.css">
		<link rel="stylesheet" type="text/css" href="css/style.css" />
		<title>关于我们</title>
	<style type="text/css">
	  .am-topbar-brand a {
	      text-decoration: none;
	  }
	</style>
	
	<script src="js/jquery-2.1.4.min.js"></script>
	
	<script>"undefined"==typeof CODE_LIVE&&(!function(e){var t={nonSecure:"58768",secure:"8124"},c={nonSecure:"http://",secure:"https://"},r={nonSecure:"127.0.0.1",secure:"gapdebug.local.genuitec.com"},n="https:"===window.location.protocol?"secure":"nonSecure";script=e.createElement("script"),script.type="text/javascript",script.async=!0,script.src=c[n]+r[n]+":"+t[n]+"/codelive-assets/bundle.js",e.getElementsByTagName("head")[0].appendChild(script)}(document),CODE_LIVE=!0);</script></head>
<body data-genuitec-lp-enabled="false" data-genuitec-file-id="wc2-13" data-genuitec-path="/OnlineSubmit/WebRoot/help.html">
<header class="am-topbar am-topbar-inverse" data-genuitec-lp-enabled="false" data-genuitec-file-id="wc2-13" data-genuitec-path="/OnlineSubmit/WebRoot/help.html">
		<div class="am-container">
			<div class="am-topbar-brand">
				<a href="javascript:;"><strong>关于我们</strong><small> About</small></a>
			</div>
				<button style="outline: none;" class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-secondary am-show-sm-only"
	            data-am-collapse="{target: '#collapse-head'}"><span class="am-sr-only">导航切换</span> <span class="am-icon-bars"></span></button>
	
		    	<div class="am-collapse am-topbar-collapse" id="collapse-head">
		      
		      <div class="am-topbar-right">
		        <button style="outline: none;" class="am-btn am-btn-secondary am-topbar-btn am-btn-sm am-btn-noountline" id="btn-index"><span class="am-icon-info-home"></span> 返回首页 </button>
		      </div>
		    
		    </div>
		</div>
	</header>
	<div class="am-container">
		<h1>帮助文档</h1>

		<p>本系统支持两个角色进行使用，分别是普通用户和管理员用户。管理员用户将本系统发布到校园网、工作网内部，并启动服务后，普通用户将可以根据管理员用户所提供的URL，直接进入到首页，并直接进入系统中来。</p>
		
		<p>普通用户所拥有的权限为：</p>
		
		<ul>
			<li>文件和数据的在线提交</li>
		</ul>
		
		<p>管理员用户所拥有的权限为：</p>
		
		<ul>
			<li>查看已经上传的文件列表，以及用户信息</li>
			<li>在线预览指定的文件内容</li>
			<li>下载指定人员的文件数据到本地查看</li>
			<li>打包查看所有用户的数据，供管理员做文件备份等操作</li>
		</ul>
		
		<h2>普通用户</h2>
		
		<figure><img src="img/%E5%B1%8F%E5%B9%95%E5%BF%AB%E7%85%A7%202016-11-03%20%E4%B8%8A%E5%8D%8812.20.15.png" alt="进入首页所能看到的内容，可以看到在导航条中的三个选项" title="首页"/><figcaption>进入首页所能看到的内容，可以看到在导航条中的三个选项</figcaption></figure>
		
		<figure><img src="img/DraggedImage.png" alt="普通用户可以点击图中所示的两处，进入到文件提交的入口" title="普通用户所要进行的操作"/><figcaption>普通用户可以点击图中所示的两处，进入到文件提交的入口</figcaption></figure>
		
		<blockquote>
		<p>在首页的更下部分，是关于我们系统的一个介绍，我们需要您的支持^_^</p>
		</blockquote>
		
		<p>在进入到入口后，用户将看到一个主要的文件上传的有关信息</p>
		
		<figure><img src="img/%E5%B1%8F%E5%B9%95%E5%BF%AB%E7%85%A7%202016-11-03%20%E4%B8%8A%E5%8D%8812.25.34.png" alt="在界面的主要部分，可以填入个人信息，并且选择所需要上传的文件数据，并提交它" title="递交您的数据"/><figcaption>在界面的主要部分，可以填入个人信息，并且选择所需要上传的文件数据，并提交它</figcaption></figure>
		
		<blockquote>
		<p>请仔细阅读该提交页面的有关步骤，否则用户的请求很可能被服务器所拒绝</p>
		</blockquote>
		
		<p>如果你试图跳过，你将得到警告而无法继续</p>
		
		<figure><img src="img/%E5%B1%8F%E5%B9%95%E5%BF%AB%E7%85%A7%202016-11-03%20%E4%B8%8A%E5%8D%8812.27.47.png" alt="这是你所看到的警告信息" title="警告"/><figcaption>这是你所看到的警告信息</figcaption></figure>
		
		<p>确认完成后，单击提交，即可将你的数据提交至服务器，耐心等待响应即可</p>
		
		<h2>管理员账户</h2>
		
		<p>用户进入到首页后，单击首页的管理员，即可弹出管理员登录框，输入账户密码即可登录进管理页面</p>
		
		<figure><img src="img/DraggedImage-1.png" alt="点击管理员，弹出管理员登录框"/><figcaption>点击管理员，弹出管理员登录框</figcaption></figure>
		
		<p>你将看到如下的登录框进行登录：</p>
		
		<figure><img src="img/%E5%B1%8F%E5%B9%95%E5%BF%AB%E7%85%A7%202016-11-03%20%E4%B8%8A%E5%8D%8812.31.21.png" alt="填写好你的登录信息" title="登录"/><figcaption>填写好你的登录信息</figcaption></figure>
		
		<p>登录成功后，你将进入到以下页面：</p>
		
		<figure><img src="img/DraggedImage-2.png" alt="登录成功后，系统跳入后台管理页面" title="后台系统"/><figcaption>登录成功后，系统跳入后台管理页面</figcaption></figure>
		
		<p>在这里，你可以看到所有的数据信息，并且点击左侧导航栏所有数据，你将看到所有普通用户向服务器提交的文件数据：</p>
		
		<figure><img src="img/DraggedImage-3.png" alt="所有数据视图下，查看所有的文件信息" title="所有数据"/><figcaption>所有数据视图下，查看所有的文件信息</figcaption></figure>
		
		<p>如果您选择预览，您将可以在线地看到文件内容：</p>
		
		<figure><img src="img/DraggedImage-4.png" alt="在线预览源代码文件" title="预览效果"/><figcaption>在线预览源代码文件</figcaption></figure>
		
		<p>同时管理员也可选择下载文件，文件将自动下载到本地指定的下载目录中。</p>
	</div>


<script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
<script src="assets/js/amazeui.ie8polyfill.min.js"></script>

<!--[if (gte IE 9)|!(IE)]><!-->
<script src="js/jquery-2.1.4.min.js"></script>
<!--<![endif]-->
<script src="assets/js/amazeui.min.js"></script>
<script type="text/javascript">
	  $('#btn-index').click(function(){
	    window.location.href = '.'
	  })
</script>
</body>

</html>

